body {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto; }

.container {
  width: 1100px;
  margin: 0 auto; }

h2 {
  margin: 0;
  text-align: center;
  font-size: 48px;
  font-weight: 300; }

p {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; }

.btn {
  margin-top: 10px;
  border: none;
  width: 340px;
  height: 60px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Open Sans", sans-serif;
  background-color: #2954a5;
  color: white; }
  .btn:hover {
    background-color: #3267ca; }

.site-header {
  padding-top: 80px;
  background: url("../img/header-bg.jpg") no-repeat center center;
  background-size: cover; }
  .site-header .logotype {
    text-align: center; }
  .site-header .header-block {
    padding-bottom: 146px; }
    .site-header .header-block h1 {
      padding-top: 232px;
      margin-bottom: 28px;
      width: 650px;
      font-size: 60px;
      font-weight: 300;
      color: white;
      line-height: 68px; }
    .site-header .header-block p {
      width: 780px;
      margin-bottom: 12px;
      color: white; }
  .site-header .learn-more-link {
    margin-left: 26px;
    border-bottom: 1px dashed #f7f8f8;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    cursor: pointer; }
    .site-header .learn-more-link:hover {
      border: none; }

.about {
  padding-top: 133px;
  margin-bottom: 128px;
  color: #494e68; }
  .about h2 {
    padding-bottom: 56px; }
  .about .about-block {
    padding-left: 86px;
    display: inline-block;
    text-align: center;
    vertical-align: top; }
    .about .about-block:first-child {
      padding-left: 0; }
  .about .circle {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
    border: 1px solid #85919d;
    border-radius: 50%; }
    .about .circle .icon-center {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto; }
  .about h4 {
    margin-top: 12px;
    margin-bottom: 4px;
    font-size: 24px;
    font-weight: 400; }
  .about p {
    color: #85919d;
    width: 304px;
    display: inline-block; }

.send {
  margin: 0 auto;
  background: #85919d;
  text-align: center;
  color: white;
  padding-top: 74px;
  padding-bottom: 100px; }
  .send p {
    width: 340px;
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 35px; }

.query {
  width: 340px;
  margin: 0 auto; }
  .query .input-query {
    margin-top: 10px;
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 18px;
    width: 322px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    font-family: "Open Sans", sans-serif;
    color: #494e68; }
  .query .phone {
    float: left;
    margin-right: 10px;
    width: 146px; }
  .query .email {
    width: 146px; }
  .query .location {
    margin-top: 10px;
    padding-left: 16px;
    margin-bottom: 19px;
    background-color: white;
    width: 340px;
    height: 40px;
    border: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    font-family: "Open Sans", sans-serif;
    color: #494e68; }
    .query .location:invalid:not(:focus) {
      color: #85919d; }
    .query .location:invalid:focus {
      color: #85919d; }
    .query .location:focus option {
      color: #494e68; }
  .query .error {
    background-color: #fbcdcd;
    color: #ff6262; }
    .query .error:invalid:not(:focus) {
      color: #ff6262; }
    .query .error:invalid:focus {
      background-color: white; }

.site-footer {
  text-align: center;
  color: #85919d; }
  .site-footer p {
    padding-top: 42px;
    padding-bottom: 20px; }
  .site-footer .social-icon {
    margin-bottom: 36px; }
    .site-footer .social-icon a {
      display: inline-block; }

.popup {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  position: fixed;
  z-index: 100; }
  .popup h2 {
    color: #494e68;
    padding-top: 89px; }
  .popup p {
    padding-top: 32px;
    padding-left: 47px;
    padding-right: 47px;
    color: #85919d; }
  .popup .header-btn {
    margin-top: 20px;
    margin-right: 20px;
    float: right; }
  .popup .btn-padding {
    margin-top: 50px;
    margin-bottom: 36px; }

.popup-center-learn {
  width: 800px;
  background-color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -327px;
  margin-left: -400px; }
  .popup-center-learn .popup-banner {
    height: 231px;
    background: url("../img/popup-banner.jpg") no-repeat center center;
    margin-bottom: -25px; }
  .popup-center-learn .popup-footer {
    padding-top: 45px;
    padding-bottom: 53px;
    border-top: none;
    text-align: center; }
    .popup-center-learn .popup-footer a {
      padding-left: 100px;
      font-size: 18px;
      font-weight: 400;
      text-decoration: underline;
      color: #2954a5;
      display: inline-block; }
      .popup-center-learn .popup-footer a:hover {
        text-decoration: none; }
      .popup-center-learn .popup-footer a:first-child {
        padding-left: 0; }
      .popup-center-learn .popup-footer a i {
        display: inline-block;
        padding-right: 10px; }

.popup-center-thank {
  width: 800px;
  background-color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -187px;
  margin-left: -400px; }

/*======================    Sprite     ======================*/
.sprite {
  background: url("../img/spritesheet.png") no-repeat;
  display: block; }

.sprite-ad {
  background-position: -5px -5px;
  width: 25px;
  height: 25px; }

.sprite-close {
  background-position: -40px -5px;
  opacity: 0.4;
  width: 30px;
  height: 30px; }
  .sprite-close:hover {
    opacity: 1; }

.sprite-facebook {
  background-position: -120px -5px;
  width: 34px;
  height: 32px; }
  .sprite-facebook:hover {
    background-position: -164px -5px; }

.sprite-google {
  background-position: -208px -5px;
  width: 33px;
  height: 32px; }
  .sprite-google:hover {
    background-position: -251px -5px; }

.sprite-linkedin {
  background-position: -294px -5px;
  width: 33px;
  height: 32px; }
  .sprite-linkedin:hover {
    background-position: -337px -5px; }

.sprite-partners {
  background-position: -380px -5px;
  width: 20px;
  height: 26px; }

.sprite-revies {
  background-position: -462px -5px;
  width: 27px;
  height: 25px; }

.sprite-us {
  background-position: -499px -5px;
  width: 39px;
  height: 41px; }

.sprite-work {
  background-position: -548px -5px;
  width: 34px;
  height: 32px; }

.sprite-philosophy {
  background-position: -410px -5px;
  width: 42px;
  height: 42px; }
